.work {
  width: 100%;
  margin: 80px 0px;
  padding: 20px 10px;
  margin-left: 100px;
  color: white;
  background-color: rgba(240, 248, 255, 0.077);
  box-shadow: rgba(0, 0, 0, 0.304) 1.95px 1.95px 2.6px;
  border-radius: 10px;
}

.work-experience {
  padding: 10px 0px;
}

.work-experience hr {
  color: #f3f6f8;
  width: 400px;
  margin: 10px auto;
}

.work-experience h2 {
  font-weight: bold;
  color: #f5f8fa;
  text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.4);
  color: #ffffff;
}

.work-experience .vertical-timeline-element-title {
  color: black;
}

.work-experience .vertical-timeline-element-subtitle {
  color: black;
}

/* ============light============= */

#light .work {
  color: black;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.304) 1.95px 1.95px 2.6px;
  background-color: rgba(78, 77, 80, 0.052);
}

#light .work-experience hr {
  color: black;
}

#light .work-experience h2 {
  color: black;
}

/* ==========media query========= */

@media (max-width: 600px) {
  .work {
    margin: 0;
    padding: 0;
    margin-top: 50px;
  }
  .work hr {
    width: 280px;
  }
}
