.navbar-profile-pic img {
  display: flex;
  margin-left: 25px;
  margin-top: 0px;
  vertical-align: middle;
  width: 70%;
  height: 150px;
  border-radius: 50%;
  box-shadow: rgba(248, 247, 247, 0.434) 1.95px 1.95px 2.6px;
}

.nav-item {
  color: rgb(254, 254, 254);
  margin-top: 50px;
  margin-left: 35px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 450;
}

.nav-link {
  margin-top: 30px;
  cursor: pointer;
}
.nav-link:hover {
  color: rgb(140, 199, 239);
}

.nav-link .active {
  color: rgb(140, 199, 239);
  border-left: 5px solid rgb(140, 199, 239);
  padding-left: 10px;
  text-decoration: none;
}

.nav-link svg {
  margin-right: 10px;
}

/* light================ */
#light .nav-link {
  color: rgb(255, 255, 255);
}
#light .nav-link:hover {
  color: rgb(253, 198, 121);
}

#light .nav-link .active {
  color: rgb(253, 198, 121);
  border-left: 5px solid rgb(253, 198, 121);
}

#light .navbar-profile-pic img {
  box-shadow: rgba(0, 0, 0, 0.221) 1.95px 1.95px 2.6px;
}
