.project {
  width: 100%;
  margin: 60px 0px;
  padding: 15px;
  margin-left: 100px;
  color: white;
  background-color: rgba(240, 248, 255, 0.077);
  box-shadow: rgba(0, 0, 0, 0.304) 1.95px 1.95px 2.6px;
  border-radius: 10px;
}

.project hr {
  color: #76909e;
  width: 400px;
  margin: 10px auto;
}

.project h2 {
  font-weight: bold;
  color: #f9fafa;
  text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.4);
  color: #ffffff;
}

.project p {
  color: white;
  padding: 10px 40px;
  justify-content: left;
}

#ads {
  margin: 30px 0px 30px 0px;
}

#ads .card-notify-badge {
  position: absolute;
  left: -10px;
  top: -20px;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  background: #f2cdb4;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color: black;
  padding: 5px 10px;
  font-size: 14px;
}

.project .card {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.project .card img {
  height: 250px;
  width: 100%;
}

.card .card-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card-detail-badge {
  background-color: #a4c3e3;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color: black;
  padding: 5px 10px;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
}
.card-image-overly {
  font-size: 20px;
}
.card-image-overly span {
  display: inline-block;
  margin-left: 5px;
}

.project .card:hover {
  background-color: white;
  border-radius: 4px;
  box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
  transition: all 1s ease;
}

.ad-btn {
  text-transform: lowercase;
  width: 80px;
  height: 40px;
  display: block;
  text-align: center;
  background-color: #000000;
  color: rgb(255, 253, 253);
  border-radius: 80px;
  font-size: 16px;
  line-height: 35px;
  text-decoration: none;
  margin: 20px auto 20px auto;
  overflow: hidden;
  position: relative;
}

.ad-btn:hover {
  background-color: white;
  color: #000a0a;
  background: transparent;
  border: 2px solid #000a0a;
  transition: all 0.5s ease;
  box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
}

.ad-title {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

/* ===============light==================== */

#light .project {
  color: black;
  box-shadow: rgba(0, 0, 0, 0.304) 1.95px 1.95px 2.6px;
  background-color: rgba(78, 77, 80, 0.052);
}

#light .project h2 {
  color: black;
}

#light .project p {
  color: black;
}

@media (max-width: 600px) {
  .project {
    margin: 0;
    padding: 0;
    margin-top: 50px;
  }
  .project hr {
    width: 280px;
  }
  .project .card {
    margin-top: 30px;
  }
}
